body
{
  background: #262626;
}
.container 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container .box 
{
  position: relative;
  display: flex;
  height: 420px;
  width: 280px;
  border-radius: 20px;
  background: #444;
  background: linear-gradient(45deg,#2da2ff 25%,#444 25%,#444 50%,#2da2ff 50%,#2da2ff 75%,#444 75%,#444 100%);
  background-size: 100px 100px;
  animation: split 5s infinite linear;
  animation-play-state: paused;
  filter: grayscale(1);
  transition: filter 0.2s;
  margin-bottom: 0px;
  -webkit-box-reflect: below 0.5px linear-gradient(transparent,transparent,transparent,transparent, #0004);
}
@keyframes split 
{
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1000px;
  }
}
.container .box:hover 
{
  animation-play-state: running;
  filter: grayscale(0);
}
img:nth-child(1)
{
  position: absolute;
  margin-left: 0px;
  bottom: 0;
  height: 420px;
  width: 260px;
  transition: 0.5s;
  border-radius: 20px;
}
.container .box:hover img:nth-child(1) 
{
  height: 450px;
  width: 283px;
}
.container .box:hover img:nth-child(2) 
{
  display: none;
  opacity: 0;
}
img:nth-child(2)
{
  display: none;
  opacity: 1;
  position: absolute;
  z-index: 2;
  margin-right: 0;
  right: 0;
  bottom: 18%;
  width: 180px;
  transition: 0s;
}
img:nth-child(2):hover
{
  display: none;
  opacity: 0;
}